.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-header {
  background-color: #0a1d34;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}
